* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splashBG {
  background-image: linear-gradient(rgba(34, 1, 94, 0.8), rgba(34, 1, 94, 0.8)), url(./img/splash-bg.png);
  background-position: center;
  background-size: cover;
}

.detailsList {
  background-color: white;
  text-align: left;
}

.detailsList :nth-child(even) {
  background-color: lightgray;
}
